<% begin %>
  <% if review.errors.any? %>
    <div class="error_explanation">
      <h3><%= review.errors.count %>件のエラーがあります。</h3>
      <ul>
        <% review.errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% rescue %>
<% end %>
<br />

<%= form_for(review) do |f| %>
  <div class="review_form">
    <%= f.label "レビュータイトル" %>
    <%= f.text_field :title, class: "form form-control" %>
    <br />

    <%= f.label "何をレビューする？" %>
    <%= f.text_field :object, class: "form form-control" %>
    <br />

    <div class="field" id="input-picture">
      <%= show_picture(review) if show_picture(review) %>
      <%= f.file_field :picture %>
      <%= f.hidden_field :picture_cache %>
    </div>
    <br />

    <%= f.label "400文字以内で語れ！！" %>
    <%= f.text_area :content, class: "form form-control" %>
    <br />

    <%= render :partial => "tags/form", :locals => { f: f } %>

    <%= f.submit "投稿！", class: "btn btn-primary" %>
  </div>
<% end %>
