<div class="container">
  <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="title">
      <h1>タイムライン</h1>
    </div>

    <%= render "layouts/flash" %>

    <div class="reviews">
      <% @reviews.each do |review| %>
        <div class="review">
          <div class="reviews_owner">
            <%= review.user.name %>
          </div>
          <br />

          <div class="review_title">
            <p><strong><%= review.title %></strong></p>
          </div>

          <div class="object">
            <p>レビュー対象: <font size="5"><%= review.object %></font></p>
          </div>

          <div class="content">
            <%= link_to review.content, review_path(review.id) %>
          </div>
        </div>
        <br />
      <% end %>
    </div>
  </div>
</div>
