<div class="container">
  <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="review">
      <%= render "review", review: @review %>

      <% if user_signed_in? %>
        <div class="owner_buttons">
          <% if current_user.id == @review.user.id %>
            <%= link_to "", edit_review_path(@review.id), class: "fa fa-pencil-square-o fa-lg" %>
            <%= link_to "", review_path(@review.id), class: "fa fa-trash-o fa-lg", method: :delete, data: { confirm: "本当に削除してよろしいですか？"} %>
          <% end %>
        </div>
      <% end %>
    </div>
    <br />

    <div class="comments">
      <div class="child row">
        <h4>コメント</h4>
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, review: @review } %>
        </div>
        <% if user_signed_in? %>
          <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
        <% end %>
        <br />
        <%= link_to '戻る', root_path %>
      </div>
    </div>

  </div>
</div>
