<div class="container">
  <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="review">
      <div class="reviews_owner">
        <%= @review.user.name %>
      </div>
      <br />

      <div class="review_title">
        <p><%= @review.title %></p>
      </div>

      <div class="object">
        <p>レビュー対象: <font size="5"><%= @review.object %></font></p>
      </div>

      <div class="content">
        <%= link_to @review.content, review_path(@review.id) %>
      </div>

      <div class="owner_buttons">
        <% if current_user.id == @review.user.id %>
          <%= link_to "", edit_review_path(@review.id), class: "fa fa-pencil-square-o fa-lg" %>
          <%= link_to "", review_path(@review.id), class: "fa fa-trash-o fa-lg", method: :delete, data: { confirm: "本当に削除してよろしいですか？"} %>
        <% end %>
      </div>
    </div>
    <br />

    <div class="comments">
      <div class="child row">
        <h4>コメント</h4>
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, review: @review } %>
        </div>
        <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
        <br />
        <%= link_to '戻る', root_path %>
      </div>
    </div>

  </div>
</div>
