<div id="nice_form_<%= review.id %>">
  <!-- nice の有無を判定し、表示を切り替える -->
  <% nice = current_user.nices.find_by(review_id: review.id) %>
  <% unless nice %>
    <!-- 存在するとき -->
    <%= form_for(current_user.nices.build(review_id: review.id), url: user_nices_path(current_user.id), html: {method: "post"}, remote: true)  do |f| %>
      <%= f.hidden_field :review_id %>
      <%= f.submit "★", class: "btn btn-nice btn-sm" %>
    <% end %>
  <% else %>
    <!-- 存在しないとき -->
    <%= form_for(nice, url: user_nice_path(id: nice.id, user_id: current_user.id), html: {method: "delete"}, remote: true)  do |f| %>
      <%= f.submit "★", class: "btn btn-niced btn-sm" %>
    <% end %>
  <% end %>

  <div class="number_of_nices">
    <% if review.nices.count > 0 %>
      <% if review.nices.count < 10000 %>
        <%= review.nices.count %>
      <% else %>
        <%= to_i(review.nices.count/10000) %>
      <% end %>
    <% end %>
  </div>
</div>
